{% extends "base.html" %}
{% block start %}

  <h1>Receipies page</h1>
 <div class="container mt-5"> 
<form class="col-6 mx-auto card p-4 shadow" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <h2>Add a receipie</h2>
    <hr>

    <div class="mb-3">
        <label class="form-label">Receipie name :</label>
        <input name="receipe_name" required type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Receipie Description</label>
        <textarea name="receipe_description" required class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Receipie Image</label>
        <input name="receipe_image" type="file" class="form-control">
    </div>

    <button type="submit" class="btn btn-success">Add it</button>
</form>
</div>
{% endblock %}